# ==========================================
# Maven
# ==========================================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# ==========================================
# Java
# ==========================================
*.class
*.jar
*.war
*.ear

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# IntelliJ IDEA
# ==========================================
.idea/
*.iml
*.ipr
*.iws

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Eclipse
# ==========================================
.project
.classpath
.settings/
.metadata/

# ==========================================
# NetBeans
# ==========================================
nbproject/private/
build/
dist/
nbbuild/
nbdist/

# ==========================================
# Sistema Operacional
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Arquivos temporários
# ==========================================
*.tmp
*.swp
*.bak

# ==========================================
# Arquivos de ambiente
# ==========================================
.env
.env.*
